<side-bar-directive></side-bar-directive>
<div class="sidebar-container Two">	
	<p class='aboutSite'>Welcome to my NBA Stats and Standings app! Simply click on players or teams to see the top players or teams in a fully sortable table. If you click on players you can search for a specifc player and view their indiviual stats. Also, if you click on teams you'll see a list of teams and can view individual team stats</p>
	<div class='socialLinks'>
		<a href='https://twitter.com/ScottTPete'>
			<img src='images/red-twitter-icon.png' class='socialIcons' />
		</a>
		<a href='https://github.com/ScottTPete'>
			<img src='images/red-github-icon.png' class='socialIcons' />
		</a>
	</div>
</div>