<side-bar-directive></side-bar-directive>

<div class='inputContainer'>
	<input type="text" ng-show='state == "players"' placeholder="Enter Player Name" class='searchFor' ng-model='filterPlayer'>
</div>

<div class='playerContainer'>
	<div class='playersList'>
		<a ng-click='getPlayerName(player.name)' ng-repeat='player in players | orderBy: "name" | filter:filterPlayer track by $index'>
			<p class='playerNames'>{{player.name}}</p>
		</a>
	</div>
</div>


<div class="nbaLeaders" ng-hide='statsLeaders'>
	
</div>

<div class='mainContent' ng-show='playerBox'>

	<div class='mainContentSidebar'>
		<div class='imageContainer'>
			<img ng-src='{{playerSelected.img}}' class="playerImage">
		</div>
		
	</div>
	<div class='mainContentHeader'>
		<h1 class='playerName'>{{playerSelected.name}}</h1>
	</div>
	<div class='statsContent'>
		<div class='teamStatsHeader'>
			<div>
				<span>PPG</span>
			</div>
			<div>
				<span>GP</span>
			</div>
			<div>
				<span>MPG</span>
			</div>
			<div>
				<span>FG%</span>
			</div>
			<div>	
				<span>RPG</span>
			</div>
		</div>
		<div class='statsBar'>
			<div>
				<span>{{playerSelected.ppg}}</span>
			</div>
			<div>
				<span>82</span>
			</div>
			<div>
				<span>35</span>
			</div>
			<div>
				<span>.534</span>
			</div>
			<div>
				<span>7.4</span>
			</div>
		</div>
	</div>




</div>