<side-bar-directive></side-bar-directive>
<!--<div class='teamContainer'>-->
<!--	<div class='teamsList'>-->
<!--		<ul>-->
<!--			<li ng-repeat='team in teams track by $index'><a ng-click='getTeamName(team.teamName)'>{{team.city}} {{team.teamName}}</a></li>-->
<!--		</ul>-->


<!--	</div>-->
<!--</div>-->

<!--<div class='mainContent'>-->

<!--	<div class='mainSidebar'>-->
<!--		<div class='logo'>-->
<!--			<img ng-src=''>-->
<!--		</div>-->
<!--		<div class='startingFive'>-->
<!--			<p class='starters' ng-repeat='player in players'></p>-->
<!--		</div>-->
<!--	</div>-->
<!--	<div class='mainHeader'>-->
<!--		<h1 class='teamName'></h1>-->
<!--	</div>-->

<!--	<div class='statsContent'>-->
<!--	</div>-->

<!--</div>-->